.containerLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Connecter{
 border: 1px solid black;
 background-color: #509BC7;
 width: 175px;
 padding:5px;
 padding-right: 15px;

}


.inputFix{
  width:99%;
   margin:5px;
}

.inputLogin{
  margin:5px;
}

.buttonLogin{
  text-align: center;
}
  

