/* recherche avancée apparait/disparait */
#rechercheAvancee{
	display: none;
}
/* ------------------------------------- */
/*Navgation*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

.navigation {
  float: left;
}

.navigation a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: lightgrey;
}
#profil{
	float: right;
	padding: 14px 16px;
	display: none;
  	
}
/* ------    css pour étoiles recherche avancé      -------*/	
#blocStar{
    float: left;
    margin-top: 5%;
}

.rate {
    float: right;   
    padding: 0 10px;
    margin-right: 65px; 
    margin-top: -45px; 
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.avancedSearch{
    border: 2px solid black;
}
#avancedSearch td{
    padding-left: 10px;
    width: 15%;
}

/* ------    fin de css pour étoiles recherche avancé      -------*/   